@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --background: #FFF4F4;
  --foreground: #362D2D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #362D2D;
    --foreground: #FFF4F4;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
